body {
    font-family: Dosis;
}

.navbar-container {
    margin-top: 2vh;
    height: 10vh;
}

/* essayList */
.essayList{
    margin-top: 20vh;
}

.essayList .essay-text h3 a {
    font-weight: medium;
    color: #4C1036;
}

.essayList .essay-text h4 {
    margin-bottom: 5vh;
    color: rgba(0, 0, 0, 0.6);
}

.essay{
    margin-bottom: 10vh;
}

.essay-Image img{
    height: 30vh;
}

@media (max-width: 576px) {
   .essayList .essay-text h3 {
       font-size: 20px;
   }
   .essayList .essay-text h4 {
      font-size: 18px;
   }
}

@media (min-width: 768px) {
}


@media (min-width: 992px) {
    .essayList .essay-text h3{
        font-size: 24px;
    }
     .essayList .essay-text h4 {
         font-size: 18px;
     }
}