.header-content{
    margin-top: 60px;

}

.header-content h1{
    font-size: 48px;
    font-weight: 500;
    font-family: Teko;
    color: #914B50;
    margin-bottom: 20px;
}

.header-content p{
    font-family: Roboto;
    font-size: 20px;
    
}

.header-content p span{
    font-weight: bold;
    color: #914B50;
}

.blog-content{
    margin-top: 60px;
}

.blog-content h3{
    font-family: Roboto;
    font-size: 25px;
    font-weight: bold;
    line-height: 29px;
    text-align: center;
}

.personal-information{
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
}

.personal-information img{
    width: 75px;
    height: 75px;
    margin-right: 20px;
}

.personal-information h4{
    font-size: 18px;
    font-weight: 700;
    font-weight: Roboto;
    margin-right: 15px;
}

.personal-information h4 span a{
    color: #914B50;
    font-weight: normal;
}

.personal-information p{
    color: #827E7E;
    font-size: 16px;
    margin-top: 10px;
}

.blogs-list{
    margin-top: 60px;
}

.blogs-list .blog-item {
    
    padding: 30px 10px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin-bottom: 40px;
}

.blog-item{
   display: flex;
   
}

.blogs-list .blog-item h5{
    font-size: 20px;
    font-weight: bold;
    font-family: Roboto;
}

.blogs-list .blog-item img{
    width: 80px;
    margin-right: 20px;
}

.blogs-list .blog-item a {
    font-size: 14px;
    color: #914B50;
    margin-top: 40px;
    font-weight: bolder;
    
}

@media only screen and (max-width: 490px) {
    .personal-information h4 {
        font-size: 16px;
        font-weight: 700;
        font-weight: Roboto;
        margin-right: 15px;
    }

    .personal-information h4 span a {
        color: #914B50;
        font-weight: normal;
    }

    .personal-information p {
        color: #827E7E;
        font-size: 14px;
        margin-top: 10px;
    }
}