@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,900;1,400;1,600&display=swap');



html{
    font-family: Poppins;
    margin: 2% 5% 0 5%;
}

/* Navigaton Designs */
#navigation nav{
    display: flex;
    justify-content:space-between;
}

#navigation li{
    list-style-type: none;
}

#navigation .nav-header li a, #navigation .nav-header li a:hover{
    list-style-type: none;
    text-decoration: none;
    color: #88665D;
    font-size: 32px;

}

#navigation .main-navigation .active a, #navigation .main-navigation  .active a:hover{
    color: #C2B97F;

}

#navigation .main-navigation{
    display: flex;
    justify-content: space-between;
}

#navigation .main-navigation li{
    margin-right: 83px;
}

#navigation .main-navigation li a, #navigation .main-navigation li a:hover{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

#index-body{
 margin-top: 80px; 
 width: 80vw;  
}
#index-body h1{
    font-weight: 600;
    font-size: 62px;
    color: #88665D;
}

#index-body .note{
    font-size: 16px;
    font-weight: 400;
    color: black;
}

#index-body .highlight{
    font-size: 18px;
    font-weight: 600;
    color: #C2B97F;
}
#index-body .highlight a{
    font-size: 18px;
    font-weight: 600;
    color: #C2B97F;
}

#index-body p{
    font-size: 25px;
    margin-top: 20px;
}

#index-body .social-icons{
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
}

#index-body .social-icons img{
    width: 40px;
    margin-right:20px ;
}


/* Blog list */
.section-header{
    margin-top: 80px;
}

.section-header p{
    font-size: 25px;
    font-weight: 500;
    width: 50vw;
    font-style: italic;
}

#blog-blog-list{
    display: flex;
    margin-top: 50px;
}

.single-blog{
    flex: 40%;
    padding: 3%;
    margin: 2%;
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.15);
    border-radius: 5px;
}

.single-blog h2{
    font-size: 30px;
    font-weight: 600;
    color: #88665D;
}

.single-blog img{
 height: 200px;
}

.single-blog a {
    background-color: #C2B97F;
    text-decoration: none;
    font-size: 14px;
    padding: 10px 20px;
    color: white;
    border-radius: 2px;

}

.single-blog p{
    margin: 50px 0;
    font-size: 15px;
}

/* Work List */
.empty-template{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty-template img{
    width: 30vw;
}

.empty-template p{
    font-size: 20px;
    font-weight: 600;
    color: #88665D;
}
@media only screen and (max-width: 600px) {
    html{
        margin: 0;
        padding: 0;
    }
    body{
        padding: 5% 3%;
        margin: 0;
    }

    #navigation nav{
        display: flex;
        flex-direction: column;
    }

    #navigation .nav-header li a, #navigation .nav-header li a:hover{
        list-style-type: none;
        text-decoration: none;
        color: #88665D;
        font-size: 25px;

    } 

    #navigation .main-navigation{
        display: flex;
        justify-content: flex-start;
        margin-top: 10px;
    }

    #navigation .main-navigation li{
        margin-right: 20px;
    }

    #index-body{
        margin-top: 40px; 
         
    }
    #index-body h1{
        font-weight: 600;
        font-size: 40px;
    }

    #index-body .note{
    font-size: 16px;
    font-weight: 400;
    color: black;
    }

    #index-body .highlight{
        font-size: 16px;
    }
    #index-body .highlight a{
        font-size: 16px;
    }

    #index-body p{
        font-size: 18px;
        margin-top: 10px;
    }

    #index-body .social-icons{
        margin-top: 20px;
        display: flex;
        justify-content: flex-start;
    }

    #index-body .social-icons img{
        width: 30px;
        margin-right:10px ;
    }

    /* Blog */

    .section-header{
        margin-top: 40px;
    }
    .section-header p{
        font-size: 16px;
        font-weight: 500;
        width: 80vw;
        font-style: italic;
    }

    #blog-blog-list{
        display: flex;
        margin-top: 50px;
        flex-direction: column;
    }

    .single-blog{
        flex: 100%;
        margin: 0;
        margin-bottom: 20px;
        padding-bottom: 20px;
        
    
    }

    .single-blog h2{
        font-size: 20px;
        font-weight: 600;
        margin: 5px;
        text-align: center;
    }

    .single-blog img{
        width: 100%;
    }

    .single-blog a {
        background-color: #C2B97F;
        text-decoration: none;
        font-size: 14px;
        padding: 10px 20px;
        color: white;
        border-radius: 2px;
        margin-bottom: 50px;

    }

    .single-blog p{
        margin: 20px 0;
        font-size: 14px;
    }

    /* Work List */

    .empty-template img{
        width: 70vw;
    }

    .empty-template p{
        font-size: 16px;
        font-weight: 600;
        color: #88665D;
        text-align: center;
    }
   
}
